extends layout

block content
  h1= title
  a(href="/") Home
  |  
  a(href="/phones_accessories") Phones & Accessories
  |  
  a(href="/computers_laptops") Computers & Laptops
  |  
  a(href="/household_appliances") Household Appliances
  |  