extends layout

block content
  h1= title
  a(href="/") Home
  |  
  a(href="/phones_accessories") Phones & Accessories
  |  
  a(href="/household_appliances") Household Appliances
  |  
  a(href="/beauty_shop_electronics") Beauty Shop Electronics
  |  